@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

#navhr{
    margin: 0px 0px;
}

html {
    margin: 0px;
}

body {

    margin: 0px 0px 0px 0px;
}
#bgimage{
    width: 100%;
    position: absolute;
    z-index: -1;
}

#logoimg {
    height: 45px;
    width: 142px;
    padding-left: 20px;
    padding-top: 10px;
    position: absolute;
}

#navbar{
    display: flex;
    vertical-align: middle;
    position: relative;
    height: 65px;
    background-color: white;
}

#navbar ul{
    display: flex;
    list-style: none;
    margin: auto;
}

#navbar ul li{
    margin: 0px 25px;
    font-family: 'Heebo', sans-serif;
    text-decoration: none;
    color: black;
    display: block;
}

#navbar ul li a {
    z-index: 5;
}
#navbar ul li a {
    text-decoration: none;
    color: black;
}

#loginbutt {
    position: absolute;
    right: 150px;
    top: 20.5px;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    cursor: pointer;
}

#signupbutt {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    color: white;
    background-color: #007cc9;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
}

#homelogo{
    height: 60px;
    width: 189px;
    margin-top: 100px;
    margin-left: 150px
}

#toppart{
    display: flex;
}



#toppart h1{
    font-family: 'Heebo', sans-serif;
    font-size: 35px;
    margin: 0px;
    margin-top: 109px;
}

#bottompart h1{
    font-family: 'Heebo', sans-serif;
    font-size: 35px;
    margin: 0px;
    margin-left: 208px;
}